[paths]
source =
   src/cromulatron
   */site-packages/cromulatron

[run]
branch = true
source =
    cromulatron
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
